<!DOCTYPE HTML>
<html>

<head>
    <title>LeanCloud评论管理</title>
    <link rel="stylesheet" href="/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/style.css" media="all">
</head>

<body>
    <div class="sign-in-wrap layui-anim" data-anim="layui-anim-upbit">
        <p class="title">LeanCloud-Valine评论管理</p>
        <form method="post" action="/login" class="gh-signin">
            <input tabindex="1" name="username" placeholder="管理员邮箱" autofocus="" type="text" class="gh-input">
            <input tabindex="2" name="password" placeholder="密码" type="password" class="password gh-input ember-view">
            <input tabindex="3" type="submit" class="login-button" value="登录">
        </form>
        <footer>
            <span> Create by <a class="show" href="https://xu.vercel.app" target="_blank">Xu-ux</a> |
                <a class="show" href="https://valine.js.org">Valine</a>
            </span>
        </footer>
    </div>
    <script src="/js/layui.js" charset="utf-8"></script>
</body>

</html>
